<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.exampleapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <!--
    usesCleartextTraffic is set to true in order to allow HTTP requests
    be careful, Google Play will reject the APP if this is allowed
    -->
    <application
        android:name=".presentation.MagicApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExampleApp"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".presentation.home.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>